
.banner__img--size{
    height: 75vh;
    object-fit: cover;
}

.banner__img--shadow{
    filter:brightness(55%);
    -webkit-filter:brightness(55%);
}

a.active{
    color:white !important;
}

nav>ul>li>a{
    color:gray !important;
}